# Título: Utilización de IA para la 0ptimización de procesos de conciliación en pasarelas de pago.

# Reporte No. 1. Propuesta del proyecto

    Asesor principal: 
    Profesor convenido a ser su asesor principal, si ya lo tienen.

    Autor@s
    José Álvaro Rodríguez Botero

<h1>Introducción</h1>

<p>Ganar en los servicios financieros depende cada vez más de la velocidad y precisión de la normalización y conciliación de datos. Los bancos, las pasarelas de pago, los corredores de bolsa, etc., se basan fundamentalmente en datos. Para ello  se utilizan miles de empleados que, comparan, calculan e informan cantidades masivas de datos todos los días en cada parte del negocio.
</p>
<p>La reconciliación de datos para que puedan agregarse, analizarse e informarse es una actividad interminable en los servicios financieros. Gran parte de este trabajo de reconciliación lo realizan equipos de datos con herramientas ETL tradicionales, pero las hojas de cálculo y los procesos manuales están muy extendidos y abundan las ineficiencias y los costos, particularmente cuando se incorporan nuevas fuentes de datos.
</p>
<p>Según el modelo tradicional, los analistas comerciales y los especialistas en datos/ETL deben crear requisitos técnicos, incorporar nuevas fuentes de datos, analizar los datos y aplicar procesos ETL que coincidan con un modelo de datos fijo. Esto es muy complejo, requiere mucho tiempo y, a menudo, requiere expandir el alcance del proyecto a múltiples partes del negocio.
</p>
<p>
Estas ineficiencias en la reconciliación de datos son exactamente el tipo de "oportunidad" que el aprendizaje automático puede resolver, ya que se pueden implementar algoritmos para ayudar a solucionar los problemas de velocidad y costo de incorporación y reconciliación de nuevas fuentes de datos.
</p>

<h1>Descripción del problema</h1>

<p>
En cada proceso de conciliación financiera, se inspeccionan las transacciones no conciliadas para comprender por qué una línea específica no tiene contrapartida. La investigación de las transacciones por conciliar es crucial desde una perspectiva comercial y financiera. 
<br>
Una mirada cuidadosa a estas excepciones a menudo revelan problemas de causa raíz que necesitan atención. Dichas causas fundamentales pueden incluir errores del sistema y/o humanos, tarifas o impuestos incurridos, diferencias de cambio de divisas, etc.
Uno de los desafíos más frecuentes en la reconciliación de datos parece ser la mala calidad de los datos de entrada. Los errores tipográficos, las abreviaturas, los campos que faltan en las columnas y los caracteres fuera de lugar dentro de una cadena pueden arruinar un identificador que de otro modo sería relevante. A su vez, esto impide la coincidencia deseada.
 
</p>
<p>
    <h2>Escenarios de solución</h2>
    <h3>1. Coincidencia de transacciones por probabilidad</h3>
    Este escenario aprovecha las capacidades de IA para identificar patrones en conjuntos de datos sin conocimiento previo de la lógica de coincidencia. Con este enfoque, el algoritmo clasificará las transacciones en función de la probabilidad de que una determinada transacción sea equivalente. Utiliza criterios de decisión "duros" o "blandos":
<ul>
    <li>con criterios "fuertes", las columnas deben ser equivalentes para que coincidan</li>
    <li>con criterios 'debiles', las columnas pueden contener datos similares, evaluados por algoritmos relacionados con la proximidad.</li>
</ul>

El resultado será una lista de posibles grupos de coincidencias. Estos asignan probabilidades de coincidencia 'altas', 'medias' y 'bajas', que luego son evaluables por intervención humana.

Por lo tanto, a través de algoritmos ML, un sistema explora alternativas para aumentar las tasas de coincidencias exitosas. Luego, estos se someten al escrutinio y la corrección del usuario (aunque muchos demostrarán coincidencias altamente probables y válidas). El significado es que las similitudes sutiles, particularmente en grandes conjuntos de datos, que tienden a pasar desapercibidas para los operadores humanos, son detectadas por el sistema.
</p>
<p>
<h3>2. Coincidencia de criterios de cadena debil</h3>
Cuando las fallas de datos recurrentes se convierten en parte de la agenda de creación de reglas, un sistema de reconciliación habilitado por IA puede buscar similitudes con un nivel de probabilidad aceptable y presentarlas para su validación. La visibilidad mejorada de dichos patrones oscurecidos puede compensar las deficiencias de los datos. Pero esto sólo es aplicable hasta cierto punto. Si, por ejemplo, los identificadores únicos de transacciones (en los datos de entrada) faltan por completo, no es posible obtener un resultado de coincidencia confiable.
</p>

<h1>Fuentes de datos</h1>
<ul>
    <li>Dataset reconciliation_transaction</li>
    <li>Dataset sales_payment_method</li>
</ul>

<h2>Dataset reconciliation_transaction</h2>
<p>
    <ul>
        <li>sales_payment_method_id -   float64</li>
        <li>transaccion_id -             object</li>
        <li>pais_conciliacion -          object</li>
        <li>dia_fecha_transaccion -      object</li>
        <li>medio_de_pago -              object</li>
        <li>red_medio_pago -             object</li>
        <li>tipo_transaccion -           object</li>
        <li>codigo_trazabilidad -        object</li>
        <li>numero_autorizacion -        object</li>
        <li>orden_id -                    int64</li>
        <li>numero_visible_tarjeta -     object</li>
        <li>vr_venta -                  float64</li>
        <li>vr_abonado -                float64</li>
        <li>vr_comision -                 int64</li>
        <li>vr_iva_comision -             int64</li>
        <li>estado_presentacion -        object</li>
        <li>fecha_presentacion -        float64</li>
        <li>nro_key -                     int64</li>
        <li>key_conciliation -           object</li>
    </ul>
</p>
<h2>Dataset sales_payment_method</h2>
<p>
    <ul>
        <li>sales_payment_method_id -                int64</li>
        <li>transaccion_id -                       float64</li>
        <li>pais_conciliacion -                     object</li>
        <li>fecha_transaccion -                     object</li>
        <li>medio_de_pago -                         object</li>
        <li>red_medio_pago -                        object</li>
        <li>tipo_transaccion -                      object</li>
        <li>codigo_trazabilidad -                  float64</li>
        <li>numero_autorizacion -                   object</li>
        <li>numero_orden -                         float64</li>
        <li>numero_visible_tarjeta -                object</li>
        <li>vr_venta -                             float64</li>
        <li>vr_abonado -                           float64</li>
        <li>vr_comision -                          float64</li>
        <li>vr_iva_comision -                      float64</li>
        <li>estado_conciliacion_transaccional -     object</li>
        <li>fecha_conciliacion -                   float64</li>
        <li>nro_key -                                int64</li>
        <li>key_conciliation -                      object</li>
    </ul>
</p></li>

In [10]:
import pandas as pd

df_rt = pd.read_csv("./files/CO-rt-refunds-20221104.csv", delimiter=",")
df_spm = pd.read_csv("./files/CO-spm-refunds-20221104.csv", delimiter=",")

In [28]:
df_rt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188370 entries, 0 to 188369
Data columns (total 19 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   sales_payment_method_id  0 non-null       float64
 1   transaccion_id           188370 non-null  object
 2   pais_conciliacion        188370 non-null  object
 3   dia_fecha_transaccion    188370 non-null  object
 4   medio_de_pago            188370 non-null  object
 5   red_medio_pago           188370 non-null  object
 6   tipo_transaccion         188370 non-null  object
 7   codigo_trazabilidad      188327 non-null  object
 8   numero_autorizacion      182926 non-null  object
 9   orden_id                 188370 non-null  int64
 10  numero_visible_tarjeta   188370 non-null  object
 11  vr_venta                 188370 non-null  float64
 12  vr_abonado               0 non-null       float64
 13  vr_comision              188370 non-null  int64
 14  vr_iva_comision          188370 non-null  int64
 15  estado_presentacion      188370 non-null  object
 16  fecha_presentacion       0 non-null       float64
 17  nro_key                  188370 non-null  int64
 18  key_conciliation         182926 non-null  object
dtypes: float64(4), int64(4), object(11)
memory usage: 27.3+ MB

In [31]:
df_spm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135460 entries, 0 to 135459
Data columns (total 19 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   sales_payment_method_id            135460 non-null  int64
 1   transaccion_id                     0 non-null       float64
 2   pais_conciliacion                  135460 non-null  object
 3   fecha_transaccion                  135460 non-null  object
 4   medio_de_pago                      135460 non-null  object
 5   red_medio_pago                     12932 non-null   object
 6   tipo_transaccion                   135460 non-null  object
 7   codigo_trazabilidad                4082 non-null    float64
 8   numero_autorizacion                135458 non-null  object
 9   numero_orden                       0 non-null       float64
 10  numero_visible_tarjeta             135460 non-null  object
 11  vr_venta                           135460 non-null  float64
 12  vr_abonado                         135460 non-null  float64
 13  vr_comision                        135460 non-null  float64
 14  vr_iva_comision                    0 non-null       float64
 15  estado_conciliacion_transaccional  135460 non-null  object
 16  fecha_conciliacion                 0 non-null       float64
 17  nro_key                            135460 non-null  int64
 18  key_conciliation                   135460 non-null  object
dtypes: float64(8), int64(2), object(9)
memory usage: 19.6+ MB

<h1>Procesamiento ETL</h1>
Recuerden que ETL significa Extracción, Transformación y Carga de datos). Describen como se hará todo el proeprocesmaiento de información. 

<h2>Extracción</h2>
<p>
    El proceso de extracción se hace a partir de consultas SQL realizadas a las tablas que contienen la información de interes. Cabe anotar que desde la consulta SQL se extraen solamente los atributos que considero importantes en el armado de las llaves de conciliacion.  
</p>

<h2>Transformaciones</h2>
<p>
    Las transformaciones se realizan dependiendo del tipo de dato del atributo a tratar y que forma parte de la llave de conciliación de la siguiente manera:
    <ul>
        <li>Operaciones con atributos de tipo String
            <ul>
                <li>Concatenar</li>
                <li>Mapping</li>
                <li>Split</li>
            </ul>    
        </li>
        <li>Operaciones con atributos de tipo númerico
            <ul>
                <li>Redondear</li>
                <li>Suma de atributos</li>
            </ul>    
        </li>
        <li>Operaciones con atributos de tipo datetime
            <ul>
                <li>Convertir formatos</li>
                <li>Split (fecha y hora)</li>
            </ul>    
        </li>
    </ul>
</p>

# Exploración de los datos
Indicar que técnicas usaran inicialmente para describir y entender sus datos:
* Muestras de los datos
* Estadisticas y grafica univariadas
* Técnicas factoriales: ACP, ...

<img src="./files/[graph]-03-Total transacciones.png" alt="Gráfico 1." width="500" height="600">

<img src="./files/[graph]-01-Transacciones por estado.png" alt="Gráfico 1." width="500" height="600">

<img src="./files/[graph]-02-Transaciones por pais y estado.png" alt="Gráfico 2." width="1000" height="1400">

In [23]:
df_rt.head()

,sales_payment_method_id,transaccion_id,pais_conciliacion,dia_fecha_transaccion,medio_de_pago,red_medio_pago,tipo_transaccion,codigo_trazabilidad,numero_autorizacion,orden_id,numero_visible_tarjeta,vr_venta,vr_abonado,vr_comision,vr_iva_comision,estado_presentacion,fecha_presentacion,nro_key,key_conciliation
0,NaN,4852e6cd-2c89-4eba-904f-cb3fc3bf09fd,CO,2022-01-24 00:00:00.000,VISA,DAVIVIENDA,REFUND,00000000,234923,1834041746,464822******0879,15256.00,NaN,0,0,NO_ABONADA,NaN,1,COVISAREFUND234923464822087915256.00
1,NaN,0d91dd27-6334-465f-abab-27edb8edd026,CO,2022-01-18 00:00:00.000,VISA,CREDIBANCO,REFUND,00000000,050026,1772709534,491626******2232,359800.00,NaN,0,0,NO_ABONADA,NaN,1,COVISAREFUND0500264916262232359800.00
2,NaN,6838ac90-1e2e-413d-9193-a4fffbdf8601,CO,2022-01-18 00:00:00.000,VISA,CREDIBANCO,REFUND,00000000,825424,1822897648,491626******7233,335996.00,NaN,0,0,NO_ABONADA,NaN,1,COVISAREFUND8254244916267233335996.00
3,NaN,6a9e545f-44e6-4bce-b2c5-ae98a1d0dafc,CO,2022-01-18 00:00:00.000,VISA,CREDIBANCO,PARTIAL_REFUND,00000000,233641,1782256327,454600******3816,478000.02,NaN,0,0,NO_ABONADA,NaN,1,COVISAREFUND2336414546003816478000.02
4,NaN,cc4df3cd-8056-49bc-ae67-91e20d7de77a,CO,2022-02-07 00:00:00.000,MASTERCARD,REDEBAN,PARTIAL_REFUND,00000000,833636,1787925519,528209******2137,109900.00,NaN,0,0,NO_ABONADA,NaN,1,COMASTERCARDREFUND8336365282092137109900.00

In [26]:
df_rt.describe()

,sales_payment_method_id,orden_id,vr_venta,vr_abonado,vr_comision,vr_iva_comision,fecha_presentacion,nro_key
count,0.0,1.883700e+05,1.883700e+05,0.0,188370.0,188370.0,0.0,188370.0
mean,NaN,2.060753e+09,8.161786e+04,NaN,0.0,0.0,NaN,1.0
std,NaN,1.289699e+08,2.634831e+05,NaN,0.0,0.0,NaN,0.0
min,NaN,6.499970e+08,1.010000e+00,NaN,0.0,0.0,NaN,1.0
25%,NaN,1.970315e+09,5.483000e+03,NaN,0.0,0.0,NaN,1.0
50%,NaN,2.079781e+09,1.371050e+04,NaN,0.0,0.0,NaN,1.0
75%,NaN,2.175174e+09,6.316650e+04,NaN,0.0,0.0,NaN,1.0
max,NaN,2.221881e+09,2.000000e+07,NaN,0.0,0.0,NaN,1.0

In [24]:
df_spm.head()

,sales_payment_method_id,transaccion_id,pais_conciliacion,fecha_transaccion,medio_de_pago,red_medio_pago,tipo_transaccion,codigo_trazabilidad,numero_autorizacion,numero_orden,numero_visible_tarjeta,vr_venta,vr_abonado,vr_comision,vr_iva_comision,estado_conciliacion_transaccional,fecha_conciliacion,nro_key,key_conciliation
0,704574977,NaN,CO,2022-01-19 00:00:00.000,VISA,NaN,REFUND,NaN,146472,NaN,422274XXXXXX7296,1600000.0,1540256.0,29120.0,NaN,POR_CONCILIAR,NaN,1,COVISAREFUND14647242227472961600000.00
1,704574989,NaN,CO,2022-01-19 00:00:00.000,VISA,NaN,REFUND,NaN,214789,NaN,450407XXXXXX7392,1453000.0,1372609.0,22222.0,NaN,POR_CONCILIAR,NaN,1,COVISAREFUND21478945040773921453000.00
2,704575048,NaN,CO,2022-01-19 00:00:00.000,VISA,NaN,REFUND,NaN,342352,NaN,482451XXXXXX5049,1183300.0,1117829.0,18098.0,NaN,POR_CONCILIAR,NaN,1,COVISAREFUND34235248245150491183300.00
3,704647550,NaN,CO,2022-01-22 00:00:00.000,VISA,NaN,REFUND,NaN,602924,NaN,459356XXXXXX7878,20800.0,20023.0,379.0,NaN,POR_CONCILIAR,NaN,1,COVISAREFUND602924459356787820800.00
4,704647358,NaN,CO,2022-01-22 00:00:00.000,VISA,NaN,REFUND,NaN,610532,NaN,450602XXXXXX7228,53534.0,51535.0,974.0,NaN,POR_CONCILIAR,NaN,1,COVISAREFUND610532450602722853534.00

In [25]:
df_spm.describe()

,sales_payment_method_id,transaccion_id,codigo_trazabilidad,numero_orden,vr_venta,vr_abonado,vr_comision,vr_iva_comision,fecha_conciliacion,nro_key
count,1.354600e+05,0.0,4082.000000,0.0,1.354600e+05,1.354600e+05,135460.000000,0.0,0.0,135460.0
mean,8.188037e+08,NaN,4932.072268,NaN,1.390184e+05,1.190131e+05,2194.056350,NaN,NaN,1.0
std,5.850676e+07,NaN,2900.970287,NaN,3.849903e+05,3.741740e+05,6952.244196,NaN,NaN,0.0
min,6.943463e+08,NaN,2.000000,NaN,1.000000e+00,-4.162393e+06,-73963.000000,NaN,NaN,1.0
25%,7.678036e+08,NaN,2431.750000,NaN,7.680000e+03,6.827750e+03,124.000000,NaN,NaN,1.0
50%,8.288378e+08,NaN,4941.000000,NaN,1.819050e+04,1.627010e+04,299.000000,NaN,NaN,1.0
75%,8.672873e+08,NaN,7470.000000,NaN,1.000000e+05,8.329625e+04,1541.000000,NaN,NaN,1.0
max,9.211058e+08,NaN,9999.000000,NaN,2.307324e+07,2.219092e+07,440699.000000,NaN,NaN,1.0

# Técnicas de modelación propuestas
Se espera que hayan sido discutidas con algún asesor (profesor) previamente.

# Conocimientos requeridos para el desarrollo del proyecto

Se espera que se hayan discutido previamente con el asesor 
* Bases de datos relacionales y no relacionales
* SQL : Intermedio
* Python : Intermedio
* Modelos supervisados: explicativos o predictivos
* Modelos de lenguaje natural

# Resultados esperados
*
*

Tiempo de desarrollo esperado
No puede ser mayor a 6 semanas.